<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.platform.statistics.entity.ClinicOrderCount">
	
	<resultMap id="clinicOrderCountResultMap" type="com.yy.platform.statistics.entity.ClinicOrderCount">
		<id column="ID" property="id" jdbcType="VARCHAR"/>
		<result column="DATE" property="date" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="BRANCH_ID" property="branchId" jdbcType="VARCHAR" />
		<result column="COUNT" property="count" jdbcType="INTEGER" />
		<result column="NO_PAYMENT" property="noPayment" jdbcType="INTEGER" />
		<result column="PAYMENT" property="payment" jdbcType="INTEGER" />
		<result column="REFUND" property="refund" jdbcType="INTEGER" />
		<result column="CLINIC_PAY_FEE" property="clinicPayFee" jdbcType="DOUBLE" />
		<result column="CLINIC_REFUND_FEE" property="clinicRefundFee" jdbcType="DOUBLE" />
		<result column="PART_REFUND" property="partRefund" jdbcType="DOUBLE" />
		<result column="BIZ_MODE" property="bizMode" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 分页查询统计订单 -->
	<select id="findListByPage" resultMap="clinicOrderCountResultMap">
		SELECT 
			DATE,
			HOSPITAL_ID,
			BRANCH_ID,
			SUM(PAYMENT + REFUND+NO_PAYMENT) AS COUNT,
			NO_PAYMENT,
			PAYMENT,
			REFUND,
			CLINIC_PAY_FEE,
			CLINIC_REFUND_FEE,
			PART_REFUND
		FROM  SYS_CLINIC_STATISTICAL WHERE 
			HOSPITAL_ID = #{hospitalId}
		<if test="branchId != null" >
			AND BRANCH_ID = #{branchId}
		</if>
		<if test="bizMode != null" >
			AND BIZ_MODE = #{bizMode}
		</if>
		<if test="startDate != null and endDate != null" >
			AND DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		GROUP BY DATE ORDER BY DATE DESC
	</select>
	
	
	<resultMap id="clinicOrderCountSumResultMap" type="com.yy.platform.statistics.entity.ClinicOrderCount">
		<result column="COUNT" property="count" jdbcType="INTEGER" />
		<result column="PAY_COUNT" property="payCount" jdbcType="INTEGER" />
		<result column="REFUND_COUNT" property="refundCount" jdbcType="INTEGER" />
		<result column="CLINIC_PAY_TOTAL_FEE" property="clinicPayTotalFee" jdbcType="INTEGER" />
		<result column="CLINIC_REFUND_TOTAL_FEE" property="clinicRefundTotalFee" jdbcType="INTEGER" />
		<result column="PART_TOTAL_REFUND" property="partTotalRefund" jdbcType="INTEGER" />
		<result column="BIZ_MODE" property="bizMode" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 查询订单总和 -->
	<select id="getClinicOrderCountSum" resultMap="clinicOrderCountSumResultMap">
		SELECT SUM(r.COUNT) AS COUNT,
				SUM(r.PAY_COUNT) AS PAY_COUNT,
				SUM(r.REFUND_COUNT) AS REFUND_COUNT,
				SUM(r.CLINIC_PAY_TOTAL_FEE) AS CLINIC_PAY_TOTAL_FEE,
				SUM(r.CLINIC_REFUND_TOTAL_FEE) AS CLINIC_REFUND_TOTAL_FEE,
				SUM(r.PART_TOTAL_REFUND) AS PART_TOTAL_REFUND FROM(
			SELECT 
				SUM(PAYMENT + REFUND+NO_PAYMENT) AS COUNT,
				SUM(PAYMENT) AS PAY_COUNT,
				SUM(REFUND) AS REFUND_COUNT,
				SUM(CLINIC_PAY_FEE) AS CLINIC_PAY_TOTAL_FEE,
				SUM(CLINIC_REFUND_FEE) AS CLINIC_REFUND_TOTAL_FEE,
				SUM(PART_REFUND) AS PART_TOTAL_REFUND
			FROM 
				SYS_CLINIC_STATISTICAL 
			WHERE  
				HOSPITAL_ID = #{hospitalId}
			<if test="branchId != null" >
				AND BRANCH_ID = #{branchId}
			</if>
			<if test="bizMode != null" >
				AND BIZ_MODE = #{bizMode}
			</if>
			<if test="startDate != null and endDate != null" >
				AND DATE BETWEEN #{startDate} AND #{endDate}
			</if>
			GROUP BY DATE ORDER BY DATE DESC) AS r
	</select>
	
	<!-- 统计每日订单 -->
	<select id="findClinicOrderCountByDate" resultMap="clinicOrderCountResultMap" parameterType="map">
		SELECT 
			from_UNIXTIME(#{startDate} / 1000,'%Y-%m-%d') as DATE,
			r1.HOSPITAL_ID AS HOSPITAL_ID,
			r1.BRANCH_ID AS BRANCH_ID,
			sum(CASE r1.PAY_STATUS when 1 then r1.count else 0 END) as NO_PAYMENT,
			sum(CASE r1.PAY_STATUS when 2 then r1.count else 0 END) as PAYMENT,
			sum(CASE r1.PAY_STATUS when 3 then r1.count else 0 END) as REFUND,
			sum(CASE r1.PAY_STATUS when 2 then r1.PAY_FEE else 0 END) as CLINIC_PAY_FEE,
			sum(CASE r1.PAY_STATUS when 3 then r1.PAY_FEE else 0 END) as CLINIC_REFUND_FEE,
			sum(CASE r1.CLINIC_STATUS when 30 then r1.PART_REFUND else 0 END) as PART_REFUND,
			r1.BIZ_MODE
		FROM (
			SELECT 
				COUNT(1) as count, 
				a.PAY_STATUS as PAY_STATUS, 
				a.HOSPITAL_ID AS HOSPITAL_ID, 
				a.BRANCH_ID AS BRANCH_ID,
				SUM(a.PAY_FEE) AS PAY_FEE,
				a.CLINIC_STATUS AS CLINIC_STATUS,
				SUM(b.refund_fee) as PART_REFUND,
				a.PAY_MODE AS BIZ_MODE
			FROM 
				<choose>
				    <when test="hashTableName == 'BIZ_CLINIC_RECORD_1'">
                		BIZ_CLINIC_RECORD_1 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_2'">
		                BIZ_CLINIC_RECORD_2 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_3'">
		                BIZ_CLINIC_RECORD_3 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_4'">
		                BIZ_CLINIC_RECORD_4 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_5'">
		                BIZ_CLINIC_RECORD_5 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_6'">
		                BIZ_CLINIC_RECORD_6 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_7'">
		                BIZ_CLINIC_RECORD_7 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_8'">
		                BIZ_CLINIC_RECORD_8 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_9'">
		                BIZ_CLINIC_RECORD_9 
		            </when>
		            <when test="hashTableName == 'BIZ_CLINIC_RECORD_10'">
		                BIZ_CLINIC_RECORD_10 
		            </when> 
			    </choose>
			    as a
			    LEFT JOIN BIZ_CLINIC_PART_REFUND_RECORD b ON a.order_no=b.order_no
			WHERE 
				a.CREATE_TIME BETWEEN #{startDate} AND  #{endDate} OR 
				a.PAY_TIME BETWEEN #{startDate} AND  #{endDate} OR 
				a.REFUND_TIME BETWEEN #{startDate} AND  #{endDate}
			GROUP BY a.BRANCH_ID,a.PAY_STATUS,a.CLINIC_STATUS,BIZ_MODE
			) AS r1 GROUP BY BRANCH_ID,PAY_STATUS,CLINIC_STATUS,BIZ_MODE
	</select>
	
	<!-- 批量插入 -->
	<insert id="batchInsert" parameterType="java.util.List">
		 INSERT INTO 
		 SYS_CLINIC_STATISTICAL(ID,DATE,HOSPITAL_ID,BRANCH_ID,NO_PAYMENT,PAYMENT,REFUND,CLINIC_PAY_FEE,CLINIC_REFUND_FEE,PART_REFUND,BIZ_MODE)
		 VALUES
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.date},#{item.hospitalId},#{item.branchId},#{item.noPayment},#{item.payment},#{item.refund},#{item.clinicPayFee},#{item.clinicRefundFee},#{item.partRefund},#{item.bizMode})
	    </foreach>  
	</insert>
	
</mapper>